{% extends 'base.html.twig' %}

{% block body %}

    <!-- Hero Section -->
    <header class="text-black text-center py-5">
        <div class="container">
            <h1 class="display-4">{{ 'home.index.title'|trans }}</h1>
            <p class="lead">{{ 'home.index.subtitle'|trans }}</p>
            <a href="#" class="btn btn-light btn-lg">{{ 'home.index.button'|trans }}</a>
        </div>
    </header>

    <!-- Section About -->
    <section class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h2>{{ 'home.index.about.title'|trans }}</h2>
                <p>{{ 'home.index.about.description'|trans }}</p>
                <a href="#" class="btn btn-primary">{{ 'home.index.about.button'|trans }}</a>
            </div>
            <div class="col-md-6">
                <img src="{{ asset("assets/images/media1.png") }}" class="img-fluid rounded" alt="Illustration">
            </div>
        </div>
    </section>

{% endblock %}
